<a href="https://colab.research.google.com/github/Khamsaen2489/data_viz_2022/blob/main/Group_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [179]:
import pandas as pd

In [180]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [181]:
import os

In [182]:
path = '/content/drive/My Drive/ Data_Group_Project'

## ชุดข้อมูลรายงานจำนวนประชากร จำแนกรายจังหวัดแยกตามสถานะและสิทธิ ปีงบประมาณ 2563

https://data.go.th/dataset/pop_inscl2563

In [183]:
covid_file_path0= os.path.join(path,'pop_maininscl_2563.csv') #โหลดชุดข้อมูลรายงานจำนวนประชากร จำแนกรายจังหวัด แยกตามสถานะและสิทธิ ปีงบประมาณ 2563
print(covid_file_path0)

/content/drive/My Drive/ Data_Group_Project/pop_maininscl_2563.csv

## โหลดข้อมูล Covid-19 ทั้ง 4 ชุด

In [184]:
covid_file_path1 = os.path.join(path,'confirmed-cases.csv') #โหลดข้อมูล Covid-19 ชุดที่ 1
print(covid_file_path1)

/content/drive/My Drive/ Data_Group_Project/confirmed-cases.csv

In [185]:
covid_file_path2 = os.path.join(path,'confirmed-cases-since-120864.csv') #โหลดข้อมูล Covid-19 ชุดที่ 
print(covid_file_path2)

/content/drive/My Drive/ Data_Group_Project/confirmed-cases-since-120864.csv

In [186]:
covid_file_path3 = os.path.join(path,'confirmed-cases-since-271064.csv') #โหลดข้อมูล Covid-19 ชุดที่ 3
print(covid_file_path3)

/content/drive/My Drive/ Data_Group_Project/confirmed-cases-since-271064.csv

In [187]:
covid_file_path4 = os.path.join(path,'confirmed-cases-since-280265.csv') #โหลดข้อมูล Covid-19 ชุดที่ 4
print(covid_file_path4)

/content/drive/My Drive/ Data_Group_Project/confirmed-cases-since-280265.csv

## ชุดข้อมูลรายงานจำนวนประชากร จำแนกรายจังหวัดแยกตามสถานะและสิทธิ ปีงบประมาณ 2563

In [188]:
data_file = pd.read_csv(covid_file_path0)
data_file

,PROVINCE_CODE,PROVINCE_NAME,MONTH,MAININSCL,GENDER,UCS_POPULATION
0,5000.0,เชียงใหม่,01/10/2020,สิทธิหลักประกันสุขภาพแห่งชาติ,1,580113
1,5000.0,เชียงใหม่,01/10/2020,สิทธิหลักประกันสุขภาพแห่งชาติ,2,600762
2,5000.0,เชียงใหม่,01/10/2020,สิทธิหลักประกันสุขภาพแห่งชาติ,X,0
3,5000.0,เชียงใหม่,01/10/2020,สิทธิข้าราชการ/สิทธิรัฐวิสาหกิจ,1,67160
4,5000.0,เชียงใหม่,01/10/2020,สิทธิข้าราชการ/สิทธิรัฐวิสาหกิจ,2,77863
...,...,...,...,...,...,...
22747,NaN,กรมแพทย์ทหารอากาศ,01/05/2021,บุคคลคนต่างด้าว (ซื้อประกันสุขภาพ),2,0
22748,NaN,กรมแพทย์ทหารอากาศ,01/05/2021,บุคคลคนต่างด้าว (ซื้อประกันสุขภาพ),X,0
22749,NaN,กรมแพทย์ทหารอากาศ,01/05/2021,NaN,1,0
22750,NaN,กรมแพทย์ทหารอากาศ,01/05/2021,NaN,2,0
22751,NaN,กรมแพทย์ทหารอากาศ,01/05/2021,NaN,X,0

In [189]:
data_file_new = data_file.iloc[:,1:4]
data_file_new

           PROVINCE_NAME       MONTH                           MAININSCL
0              เชียงใหม่  01/10/2020       สิทธิหลักประกันสุขภาพแห่งชาติ
1              เชียงใหม่  01/10/2020       สิทธิหลักประกันสุขภาพแห่งชาติ
2              เชียงใหม่  01/10/2020       สิทธิหลักประกันสุขภาพแห่งชาติ
3              เชียงใหม่  01/10/2020     สิทธิข้าราชการ/สิทธิรัฐวิสาหกิจ
4              เชียงใหม่  01/10/2020     สิทธิข้าราชการ/สิทธิรัฐวิสาหกิจ
...                  ...         ...                                 ...
22747  กรมแพทย์ทหารอากาศ  01/05/2021  บุคคลคนต่างด้าว (ซื้อประกันสุขภาพ)
22748  กรมแพทย์ทหารอากาศ  01/05/2021  บุคคลคนต่างด้าว (ซื้อประกันสุขภาพ)
22749  กรมแพทย์ทหารอากาศ  01/05/2021                                 NaN
22750  กรมแพทย์ทหารอากาศ  01/05/2021                                 NaN
22751  กรมแพทย์ทหารอากาศ  01/05/2021                                 NaN

[22752 rows x 3 columns]

## โหลดข้อมูลชุดที่ 1

In [190]:
data_covid = pd.read_csv(covid_file_path1)
data_covid

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
839766,839767,12/8/2021,11/8/2021,ชาย,52.0,ปี,NaN,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839767,839768,12/8/2021,11/8/2021,ชาย,34.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839768,839769,12/8/2021,11/8/2021,ชาย,31.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839769,839770,12/8/2021,11/8/2021,ชาย,83.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839770,839771,12/8/2021,11/8/2021,ชาย,47.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN

## โหลดข้อมูลชุดที่ 2

In [191]:
data_covid2 = pd.read_csv(covid_file_path2)
data_covid2

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,816990,12/8/2021,11/8/2021,ชาย,7.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
1,816991,12/8/2021,11/8/2021,ชาย,1.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
2,816992,12/8/2021,11/8/2021,ชาย,35.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
3,816993,12/8/2021,11/8/2021,หญิง,33.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
4,816994,12/8/2021,11/8/2021,หญิง,14.0,ปี,Thailand,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1042163,1859153,25/10/2021,24/10/2021,ชาย,45.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042164,1859154,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042165,1859155,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042166,1859156,25/10/2021,24/10/2021,ชาย,24.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042167,1859157,25/10/2021,24/10/2021,ชาย,25.0,ปี,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

## โหลดข้อมูลชุดที่ 3

In [192]:
data_covid3 = pd.read_csv(covid_file_path3)
data_covid3

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1010454,2869612,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010455,2869613,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010456,2869614,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010457,2869615,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010458,2869616,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

## โหลดข้อมูลชุดที่ 4

In [193]:
data_covid4 = pd.read_csv(covid_file_path4)
data_covid4

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,28/2/2022,27/2/2022,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,28/2/2022,27/2/2022,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,28/2/2022,27/2/2022,หญิง,40.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,28/2/2022,27/2/2022,ชาย,44.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,28/2/2022,27/2/2022,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN

## data region

In [194]:
data_region1 = { 'จังหวัด': ['อำนาจเจริญ','บึงกาฬ', 'บุรีรัมย์', 'ชัยภูมิ', 'กาฬสินธุ์', 'ขอนแก่น', 'เลย', 'มหาสารคาม', 'มุกดาหาร', 'นครพนม', 'นครราชสีมา', 'หนองบัวลำภู', 'หนองคาย', 'ร้อยเอ็ด', 'สกลนคร', 'ศรีสะเกษ', 'สุรินทร์', 'อุบลราชธานี', 'อุดรธานี', 'ยโสธร'],
             'ภูมิศาสตร์': ['ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ'],
             'การเมือง': ['ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ'],
             'อุตุนิยมวิทยา': ['ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ'],
             'การท่องเที่ยว': ['ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ']
}
df_region1 = pd.DataFrame.from_dict(data_region1)
df_region1

,จังหวัด,ภูมิศาสตร์,การเมือง,อุตุนิยมวิทยา,การท่องเที่ยว
0,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
1,บึงกาฬ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2,บุรีรัมย์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
3,ชัยภูมิ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
4,กาฬสินธุ์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
5,ขอนแก่น,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
6,เลย,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
7,มหาสารคาม,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
8,มุกดาหาร,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
9,นครพนม,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
10,นครราชสีมา,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
11,หนองบัวลำภู,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
12,หนองคาย,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
13,ร้อยเอ็ด,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
14,สกลนคร,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
15,ศรีสะเกษ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
16,สุรินทร์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
17,อุบลราชธานี,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
18,อุดรธานี,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
19,ยโสธร,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ

In [195]:
data_region2 = { 'จังหวัด': ['เชียงใหม่', 'เชียงราย', 'ลำปาง', 'ลำพูน', 'แม่ฮ่องสอน', 'น่าน', 'พะเยา', 'แพร่', 'อุตรดิตถ์'],
             'ภูมิศาสตร์': ['เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ'],
             'การเมือง': ['เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ'],
             'อุตุนิยมวิทยา': ['เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ'],
             'การท่องเที่ยว': ['เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ']
}
df_region2 = pd.DataFrame.from_dict(data_region2)
df_region2

      จังหวัด ภูมิศาสตร์ การเมือง อุตุนิยมวิทยา การท่องเที่ยว
0   เชียงใหม่      เหนือ    เหนือ         เหนือ         เหนือ
1    เชียงราย      เหนือ    เหนือ         เหนือ         เหนือ
2       ลำปาง      เหนือ    เหนือ         เหนือ         เหนือ
3       ลำพูน      เหนือ    เหนือ         เหนือ         เหนือ
4  แม่ฮ่องสอน      เหนือ    เหนือ         เหนือ         เหนือ
5        น่าน      เหนือ    เหนือ         เหนือ         เหนือ
6       พะเยา      เหนือ    เหนือ         เหนือ         เหนือ
7        แพร่      เหนือ    เหนือ         เหนือ         เหนือ
8   อุตรดิตถ์      เหนือ    เหนือ         เหนือ         เหนือ

In [196]:
data_region3 = { 'จังหวัด': ['ตาก'],
             'ภูมิศาสตร์': ['ตะวันตก'],
             'การเมือง': ['เหนือ'],
             'อุตุนิยมวิทยา': ['เหนือ'],
             'การท่องเที่ยว': ['เหนือ']
}
df_region3 = pd.DataFrame.from_dict(data_region3)
df_region3

  จังหวัด ภูมิศาสตร์ การเมือง อุตุนิยมวิทยา การท่องเที่ยว
0     ตาก    ตะวันตก    เหนือ         เหนือ         เหนือ

In [197]:
data_region4 = { 'จังหวัด': ['สุโขทัย', 'พิษณุโลก', 'พิจิตร', 'กำแพงเพชร', 'เพชรบูรณ์'],
             'ภูมิศาสตร์': ['กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง'],
             'การเมือง': ['เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ'],
             'อุตุนิยมวิทยา': ['เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ'],
             'การท่องเที่ยว': ['เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ']
}
df_region4 = pd.DataFrame.from_dict(data_region4)
df_region4

     จังหวัด ภูมิศาสตร์ การเมือง อุตุนิยมวิทยา การท่องเที่ยว
0    สุโขทัย       กลาง    เหนือ         เหนือ         เหนือ
1   พิษณุโลก       กลาง    เหนือ         เหนือ         เหนือ
2     พิจิตร       กลาง    เหนือ         เหนือ         เหนือ
3  กำแพงเพชร       กลาง    เหนือ         เหนือ         เหนือ
4  เพชรบูรณ์       กลาง    เหนือ         เหนือ         เหนือ

In [198]:
data_region5 = { 'จังหวัด': ['นครสวรรค์', 'อุทัยธานี'],
             'ภูมิศาสตร์': ['กลาง','กลาง'],
             'การเมือง': ['เหนือ','เหนือ'],
             'อุตุนิยมวิทยา': ['กลาง','กลาง'],
             'การท่องเที่ยว': ['เหนือ','เหนือ']
}
df_region5 = pd.DataFrame.from_dict(data_region5)
df_region5

     จังหวัด ภูมิศาสตร์ การเมือง อุตุนิยมวิทยา การท่องเที่ยว
0  นครสวรรค์       กลาง    เหนือ          กลาง         เหนือ
1  อุทัยธานี       กลาง    เหนือ          กลาง         เหนือ

In [199]:
data_region6 = { 'จังหวัด': ['อ่างทอง', 'ชัยนาท', 'พระนครศรีอยุธยา', 'กรุงเทพมหานคร','ลพบุรี', 'นครปฐม', 'นนทบุรี', 'ปทุมธานี', 'สมุทรปราการ', 'สมุทรสาคร', 'สมุทรสงคราม', 'สระบุรี', 'สิงห์บุรี', 'สุพรรณบุรี'],
             'ภูมิศาสตร์': ['กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง'],
             'การเมือง': ['กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง'],
             'อุตุนิยมวิทยา': ['กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง'],
             'การท่องเที่ยว': ['กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง']
}
df_region6 = pd.DataFrame.from_dict(data_region6)
df_region6

            จังหวัด ภูมิศาสตร์ การเมือง อุตุนิยมวิทยา การท่องเที่ยว
0           อ่างทอง       กลาง     กลาง          กลาง          กลาง
1            ชัยนาท       กลาง     กลาง          กลาง          กลาง
2   พระนครศรีอยุธยา       กลาง     กลาง          กลาง          กลาง
3     กรุงเทพมหานคร       กลาง     กลาง          กลาง          กลาง
4            ลพบุรี       กลาง     กลาง          กลาง          กลาง
5            นครปฐม       กลาง     กลาง          กลาง          กลาง
6           นนทบุรี       กลาง     กลาง          กลาง          กลาง
7          ปทุมธานี       กลาง     กลาง          กลาง          กลาง
8       สมุทรปราการ       กลาง     กลาง          กลาง          กลาง
9         สมุทรสาคร       กลาง     กลาง          กลาง          กลาง
10      สมุทรสงคราม       กลาง     กลาง          กลาง          กลาง
11          สระบุรี       กลาง     กลาง          กลาง          กลาง
12        สิงห์บุรี       กลาง     กลาง          กลาง          กลาง
13       สุพรรณบุรี       กลาง     กลาง          กลาง          กลาง

In [200]:
data_region7 = { 'จังหวัด': ['นครนายก'],
             'ภูมิศาสตร์': ['กลาง'],
             'การเมือง': ['กลาง'],
             'อุตุนิยมวิทยา': ['ตะวันออก'],
             'การท่องเที่ยว': ['กลาง']
}
df_region7 = pd.DataFrame.from_dict(data_region7)
df_region7

   จังหวัด ภูมิศาสตร์ การเมือง อุตุนิยมวิทยา การท่องเที่ยว
0  นครนายก       กลาง     กลาง      ตะวันออก          กลาง

In [201]:
data_region8 = { 'จังหวัด': ['ฉะเชิงเทรา', 'จันทบุรี', 'ชลบุรี', 'ปราจีนบุรี', 'ระยอง', 'สระแก้ว', 'ตราด'],
             'ภูมิศาสตร์': ['ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก'],
             'การเมือง': ['กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง'],
             'อุตุนิยมวิทยา': ['ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก'],
             'การท่องเที่ยว': ['ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก']
}
df_region8 = pd.DataFrame.from_dict(data_region8)
df_region8

      จังหวัด ภูมิศาสตร์ การเมือง อุตุนิยมวิทยา การท่องเที่ยว
0  ฉะเชิงเทรา   ตะวันออก     กลาง      ตะวันออก      ตะวันออก
1    จันทบุรี   ตะวันออก     กลาง      ตะวันออก      ตะวันออก
2      ชลบุรี   ตะวันออก     กลาง      ตะวันออก      ตะวันออก
3  ปราจีนบุรี   ตะวันออก     กลาง      ตะวันออก      ตะวันออก
4       ระยอง   ตะวันออก     กลาง      ตะวันออก      ตะวันออก
5     สระแก้ว   ตะวันออก     กลาง      ตะวันออก      ตะวันออก
6        ตราด   ตะวันออก     กลาง      ตะวันออก      ตะวันออก

In [202]:
data_region9 = { 'จังหวัด': ['กาญจนบุรี', 'ราชบุรี'],
             'ภูมิศาสตร์': ['ตะวันตก','ตะวันตก'],
             'การเมือง': ['กลาง','กลาง'],
             'อุตุนิยมวิทยา': ['กลาง','กลาง'],
             'การท่องเที่ยว': ['กลาง','กลาง']
}
df_region9 = pd.DataFrame.from_dict(data_region9)
df_region9

     จังหวัด ภูมิศาสตร์ การเมือง อุตุนิยมวิทยา การท่องเที่ยว
0  กาญจนบุรี    ตะวันตก     กลาง          กลาง          กลาง
1    ราชบุรี    ตะวันตก     กลาง          กลาง          กลาง

In [203]:
data_region10 = { 'จังหวัด': ['เพชรบุรี', 'ประจวบคีรีขันธ์'],
             'ภูมิศาสตร์': ['ตะวันตก','ตะวันตก'],
             'การเมือง': ['กลาง','กลาง'],
             'อุตุนิยมวิทยา': ['ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย'],
             'การท่องเที่ยว': ['กลาง','กลาง']
}
df_region10 = pd.DataFrame.from_dict(data_region10)
df_region10

,จังหวัด,ภูมิศาสตร์,การเมือง,อุตุนิยมวิทยา,การท่องเที่ยว
0,เพชรบุรี,ตะวันตก,กลาง,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,กลาง
1,ประจวบคีรีขันธ์,ตะวันตก,กลาง,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,กลาง

In [204]:
data_region11 = { 'จังหวัด': ['ชุมพร', 'นครศรีธรรมราช','นราธิวาส', 'ปัตตานี', 'พัทลุง', 'สงขลา', 'สุราษฎร์ธานี', 'ยะลา'],
             'ภูมิศาสตร์': ['ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้'],
             'การเมือง': ['ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้'],
             'อุตุนิยมวิทยา': ['ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย', 'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย', 'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย', 'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย', 'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย', 'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย', 'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย', 'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย'],
             'การท่องเที่ยว': ['ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้']
}
df_region11 = pd.DataFrame.from_dict(data_region11)
df_region11

,จังหวัด,ภูมิศาสตร์,การเมือง,อุตุนิยมวิทยา,การท่องเที่ยว
0,ชุมพร,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้
1,นครศรีธรรมราช,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้
2,นราธิวาส,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้
3,ปัตตานี,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้
4,พัทลุง,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้
5,สงขลา,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้
6,สุราษฎร์ธานี,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้
7,ยะลา,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้

In [205]:
data_region12 = { 'จังหวัด': ['กระบี่', 'พังงา', 'ภูเก็ต', 'ระนอง', 'สตูล', 'ตรัง'],
             'ภูมิศาสตร์': ['ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้'],
             'การเมือง': ['ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้'],
             'อุตุนิยมวิทยา': ['ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน', 'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน', 'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน', 'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน', 'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน', 'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน'],
             'การท่องเที่ยว': ['ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้']
}
df_region12 = pd.DataFrame.from_dict(data_region12)
df_region12

  จังหวัด ภูมิศาสตร์ การเมือง                   อุตุนิยมวิทยา การท่องเที่ยว
0  กระบี่        ใต้      ใต้  ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน           ใต้
1   พังงา        ใต้      ใต้  ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน           ใต้
2  ภูเก็ต        ใต้      ใต้  ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน           ใต้
3   ระนอง        ใต้      ใต้  ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน           ใต้
4    สตูล        ใต้      ใต้  ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน           ใต้
5    ตรัง        ใต้      ใต้  ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน           ใต้

## รวมตาราง Region

In [212]:
df_region_new = pd.concat([df_region1, df_region2, df_region3, df_region4, df_region5, df_region6,
                                df_region7, df_region8, df_region9, df_region10, df_region11, df_region12])  
df_region_new

,จังหวัด,ภูมิศาสตร์,การเมือง,อุตุนิยมวิทยา,การท่องเที่ยว
0,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
1,บึงกาฬ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2,บุรีรัมย์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
3,ชัยภูมิ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
4,กาฬสินธุ์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...
1,พังงา,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
2,ภูเก็ต,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
3,ระนอง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
4,สตูล,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
5,ตรัง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้

## รวมตารางข้อมูล Covid-19 ทั้ง 4 ชุดเข้าด้วยกัน

In [207]:
data_covid_new = pd.concat([data_covid, data_covid2, data_covid3, data_covid4])
data_covid_new

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง,NaN
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

In [213]:
df = pd.concat([data_covid_new,df_region_new,data_file_new])
df

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11,จังหวัด,ภูมิศาสตร์,การเมือง,อุตุนิยมวิทยา,การท่องเที่ยว,PROVINCE_NAME,MONTH,MAININSCL
0,1.0,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22747,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,กรมแพทย์ทหารอากาศ,01/05/2021,บุคคลคนต่างด้าว (ซื้อประกันสุขภาพ)
22748,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,กรมแพทย์ทหารอากาศ,01/05/2021,บุคคลคนต่างด้าว (ซื้อประกันสุขภาพ)
22749,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,กรมแพทย์ทหารอากาศ,01/05/2021,NaN
22750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,กรมแพทย์ทหารอากาศ,01/05/2021,NaN
22751,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,กรมแพทย์ทหารอากาศ,01/05/2021,NaN

## Data Missing

In [214]:
df.isnull().any() #ตรวจสอบดูว่า columns ไหนมีค่าเป็น True = missing

No.                      True
announce_date            True
Notified date            True
sex                      True
age                      True
Unit                     True
nationality              True
province_of_isolation    True
risk                     True
province_of_onset        True
district_of_onset        True
Unnamed: 11              True
จังหวัด                  True
ภูมิศาสตร์               True
การเมือง                 True
อุตุนิยมวิทยา            True
การท่องเที่ยว            True
PROVINCE_NAME            True
MONTH                    True
MAININSCL                True
dtype: bool

In [215]:
df_missing = df.fillna('ไม่มีข้อมูล') # แทนค่า missing ในทุก column  ด้วย 'ไมมีข้อมูล'
df_missing

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11,จังหวัด,ภูมิศาสตร์,การเมือง,อุตุนิยมวิทยา,การท่องเที่ยว,PROVINCE_NAME,MONTH,MAININSCL
0,1.0,12/1/2020,ไม่มีข้อมูล,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล
1,2.0,17/1/2020,ไม่มีข้อมูล,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล
2,3.0,22/1/2020,ไม่มีข้อมูล,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล
3,4.0,22/1/2020,ไม่มีข้อมูล,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล
4,5.0,24/1/2020,ไม่มีข้อมูล,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22747,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,กรมแพทย์ทหารอากาศ,01/05/2021,บุคคลคนต่างด้าว (ซื้อประกันสุขภาพ)
22748,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,กรมแพทย์ทหารอากาศ,01/05/2021,บุคคลคนต่างด้าว (ซื้อประกันสุขภาพ)
22749,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,กรมแพทย์ทหารอากาศ,01/05/2021,ไม่มีข้อมูล
22750,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,กรมแพทย์ทหารอากาศ,01/05/2021,ไม่มีข้อมูล
22751,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล,กรมแพทย์ทหารอากาศ,01/05/2021,ไม่มีข้อมูล

In [216]:
df_missing.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
Unnamed: 11              False
จังหวัด                  False
ภูมิศาสตร์               False
การเมือง                 False
อุตุนิยมวิทยา            False
การท่องเที่ยว            False
PROVINCE_NAME            False
MONTH                    False
MAININSCL                False
dtype: bool